body, h1, h2, p, footer {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
    color: black;
    line-height: 1.6;
    padding: 20px;
}

h1 {
    text-align: center;
    color: blue;
    margin-bottom: 30px;
}

h2 {
    color: grey;
    border-bottom: 2px solid whitesmoke;
    padding-bottom: 5px;
    margin-top: 25px;
    margin-bottom: 15px;
}

p {
    margin-bottom: 10px;
}

hr {
    margin: 30px 0;
    border: none;
    border-top: 1px solid whitesmoke;
}

footer {
    text-align: center;
    padding: 15px 0;
    margin-top: 30px;
    font-size: 0.9em;
    color: grey;
    border-top: 1px solid whitesmoke;
}

h2 + p {
    background-color: white;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 1px 3px black;
    margin-bottom: 5px;
}
